*{
    box-sizing: border-box;
   
}
.search-button{
    
    margin-left: 10px !important;
    border: 1px solid white;
    height: 2rem;
    width: 150px;
    border-radius: 50px;
    background-color: #84EAD8;
}
.search-button::placeholder{
    color: black;
    text-align: center;
  
}
.btn-blue-green{
    background-color: #15F4BF;
}

.custom-border{
    border: 1px solid white !important;
}

ul li .custom-buttom{
    border-radius: 50px !important;
}
.navbar-color{
    background-color: #FF5FBF;
}

.hero-custom-bg{
    background-color: #FF9CD7;
}
.hero-aria{
    width: 100vw;
    height: 50vh;
}
/* .img-sun{
    width: 15vw;
} */
.img-gallary-contents{
    display: flex;
    padding-left: 20vw;
}
.img-gallary-contents img{
    max-height: 220px;
    max-width: 15vw;
    margin-left: 2vw;
}

 .btn-custom-hero{
    margin-left: 40vw!important;
    text-align: center !important;
    background-color: #1CFF92;

}
.custom-black{
    color: black !important;
}
a{
    text-decoration: none;
}
.custom-text-respon {
    font-size: 1rem !important;
}
.custom-responsive-btn {
    width: 5rem !important;
}